<br><br><br><br>
    <footer>
        <div class="container-fluid bg-dark">
            <div class="row">
                <div class="col"><span class="copyright bg-light text-center">Copyright © Winter 2021, Long Nguyen, WEB322NCC<br><br></span></div>
            </div>
            <div class="row text-center">
                <div class="col-md-3"><a href="/">Home</a></div>
                <div class="col-md-3"><a href="/product/menu">On the Menu</a></div>
                <div class="col-md-3"><a href="/about">About us</a>></div>
                <div class="col-md-3"><a href="/login_register">Login/Register</a></div>
            </div>
        </div>
    </footer>