   <header id="header" class="masthead" style="background-image:url('images/bakery.jpg');">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><span>Welcome To Bakery</span></div>
                <div class="intro-heading text-uppercase"><span>It's Nice To Meet You</span></div><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" role="button" href="#hero">Get Started</a></div>
        </div>
    </header>
    <div class="bg-light">
        <p style='font-size:30px;text-align: center'>THIS IS ASSIGNMENT FOR WEB322NCC</p>
    </div>    