 <br><br><br><br><br><br><br><br><br>

<div class="holder">
    <ul class="nav navbar-nav ml-auto text-uppercase">
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/user/management">User Management</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/product/management">Product Management</a></li>
    </ul>   
</div>